<%- include ('templates/header'); -%>
        <div class='container'>
            <div class='jumbotron'>
        		<h3 class = "title"> Chees O </h3> 
        		<a class='button btn' href='/inventory'>Search Inventory</a>
            </div>
                <%if(!cheese){%>
                    <h1 class='col-sm-12 nofound'>CANNOT FIND YOUR CHEESE!!!</h1>
                <% }else{ %>
                    <h3 id = 'nameCheese'><%=cheese.cheeseName%> </h3>
                    <!--<div class='row'>-->
                    <div class = 'polaroid'>
                        <img style = 'width:100%' src=<%=cheese.image%> >
                          <h4 class = 'des'>Category: <%=cheese.category%></h4>
                          <h4 class = 'des'> Cost: $<%=cheese.cost%> </h4> 
                          <h4 class = 'des'> Left in Stock: <%=cheese.invnum%> </h4> <br>
                          <h4 class = 'des'> <%=cheese.description%> </h4>
                    </div>
                    
                <% } %>
                    <!--</div>-->
        </div>

<%- include ('templates/footer'); -%>