<%- include ('templates/header'); -%>
    <div class='jumbotron'>
    		<h3 class = "title"> Chees O </h3>
    		<a class='button btn' href='/inventory'>Search Inventory</a>
    		<a class='button btn' href='/logout'>Log Out</a> <br>
    </div>
    
    <form action='/cart' method='POST'>
      <% let counter = 1; %>
      <div class='form-group row'>
        <%cheeseList.forEach(function(c) { %>
          <div class='col-sm-4'>
            <br>
            <figure>
              <img class="imgProduct" src="<%=c.image%>" alt=""/>
            </figure>
            <div class="products">
                <div class = 'lilpolarTitle'><%= c.cheeseName %></div>
                <label class="info">Price per unit: $</label><div class="price info"><%=c.cost%></div>
                <label class="info">Total stock left:</label><div class="info"><%=c.invnum%></div>
                <div class="quantity info">
                Quantity: <input type="number" name="choicenum<%=counter%>" value="0" min="0" max="<%=c.invnum%>">
                </div>
                <label class="info">Total per units: $</label><div class="updatedPrice glow info">0.00</div>
            </div>
          </div>
          <%counter++;%>
        <% }); %>
      </div>
    
    <!--<figure>-->
    <!--  <img class="imgProduct" src="https://upload.wikimedia.org/wikipedia/commons/5/57/Mozzarella_di_bufala3.jpg" alt=""/>-->
    <!--</figure>-->
    <!--<div class="products">-->
    <!--  <div>Mozzarella</div>-->
    <!--  Price per unit: <div class="price">40</div>-->
    <!--  Quantity: <div class="quantity">-->
    <!--    <input type="number" value="0" min="0">-->
    <!--  </div>-->
    <!--Total per units: <div class="updatedPrice">40</div>-->
    <!--</div>-->
    <!--<br></br>-->
    
       
    <!--<figure>-->
    <!--  <img class="imgProduct" src="https://pinconningcheese.com/wp-content/uploads/Mild-Cheddar-cropped.jpg" alt="" />-->
    <!--</figure>-->
    <!--<div class="products">-->
    <!--  <div>Cheddar Cheese</div>-->
    <!--  Price per unit: <div class="price">35</div>-->
    <!--  Quantity: <div class="quantity">-->
    <!--    <input type="number" value="0" min="0">-->
    <!--  </div>-->
    <!--Total per units: <div class="updatedPrice">35</div>-->
    <!--</div>-->
    <!--<br></br>-->
    
    
    <!--<figure>-->
    <!--  <img class="imgProduct" src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&itemId=845390-847&recipeName=680" alt="" />-->
    <!--</figure>-->
    <!--<div class="products">-->
    <!--  <div>Cheese Wheel</div>-->
    <!--  Price per unit: <div class="price">889</div>-->
    <!--  Quantity: <div class="quantity">-->
    <!--    <input type="number" value="0" min="0">-->
    <!--  </div>-->
    <!--Total per units: <div class="updatedPrice">889</div>-->
    <!--</div>-->
    <!--<br></br>-->
    
    
    <!--<figure>-->
    <!--  <img class="imgProduct" src="https://www.welcometothetable.coop/sites/default/files/wp-content/uploads/2011/06/Gorgonzola1_0.jpg" alt="" />-->
    <!--</figure>-->
    <!--<div class="products">-->
    <!--  <div>Goronzola</div>-->
    <!--  Price per unit: <div class="price">15</div>-->
    <!--  Quantity: <div class="quantity">-->
    <!--    <input type="number" value="0" min="0">-->
    <!--  </div>-->
    <!--Total per units: <div class="updatedPrice">15</div>-->
    <!--</div>-->
    <!--<br></br>-->
    
    
    <!--<figure>-->
    <!--  <img class="imgProduct" src="https://www.grocery.com/store/image/cache/catalog/kraft/kraft-easy-cheese-spray-can-variety-pack-of-4-shar-2-500x500.jpg" alt="" />-->
    <!--</figure>-->
    <!--<div class="products">-->
    <!--  <div>Kraft Easy Cheese Spray</div>-->
    <!--  Price per unit: <div class="price">20</div>-->
    <!--  Quantity: <div class="quantity">-->
    <!--    <input type="number" value="0" min="0">-->
    <!--  </div>-->
    <!--Total per units: <div class="updatedPrice">20</div>-->
    <!--</div>-->
    <!--<br></br>-->
    
    
    <!--<figure>-->
    <!--  <img class="imgProduct" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Bleu_de_Gex.jpg/1200px-Bleu_de_Gex.jpg" alt="" />-->
    <!--</figure>-->
    <!--<div class="products">-->
    <!--  <div>Bleu Cheese</div>-->
    <!--  Price per unit: <div class="price">15</div>-->
    <!--  Quantity: <div class="quantity">-->
    <!--    <input type="number" value="0" min="0">-->
    <!--  </div>-->
    <!--Total per units: <div class="updatedPrice">15</div>-->
    <!--</div>-->
    <!--<br></br>-->
    
    <!--</ul>-->

    <!--Totals-->
      <div class='jumbotron' style='margin:auto; width:40%;'>
      	<h3 class="results des" style="text-align:center;">Subtotal:</h3>
        <div class="totals" style="text-align:center;" id="updatedSubtotal">40</div>
     
        <h3 class="results des" style="text-align:center;">Taxes 9.25%:</h3>
        <div class="totals " style="text-align:center;" id="updatedTax">3.7</div></div>
      
        <h3 class="results des" style="text-align:center;">Total:</h3>
        <div class="totals" style="text-align:center;" id="updatedTotal">43.7</div>
    
        <button class="button btn" type='submit' href='/inventory'>Checkout</button><br></br>	
      </div>
    </form>
    
<%- include ('templates/footer'); -%>