<%- include ('templates/header'); -%>
    <div class='jumbotron'>
    		<h3 class = "title"> Chees O </h3>
    		<a class='button btn' href='/inventory'>Search Inventory</a>
    		<a class='button btn' href='/logout'>Log Out</a> <br>
    </div>
    
    <form action='/cart' method='POST'>
      <% let counter = 1; %>
      <div class='form-group row'>
        <%cheeseList.forEach(function(c) { %>
          <div class='col-sm-4'>
            <br>
            <figure>
              <img class="imgProduct" src="<%=c.image%>" alt=""/>
            </figure>
            <div class="products">
                <div class = 'lilpolarTitle'><%= c.cheeseName %></div>
                <label class="info">Price per unit: $</label><div class="price info"><%=c.cost%></div>
                <label class="info">Total stock left:</label><div class="info"><%=c.invnum%></div>
                <div class="quantity info">
                Quantity: <input type="number" name="choicenum<%=counter%>" value="0" min="0" max="<%=c.invnum%>">
                </div>
                <label class="info">Total per units: $</label><div class="updatedPrice glow info">0.00</div>
            </div>
          </div>
          <%counter++;%>
        <% }); %>
      </div>
    
    <!--Totals-->
      <div class='jumbotron' style='margin:auto; width:40%;'>
      	<h3 class="results des" style="text-align:center;">Subtotal:</h3>
        <div class="totals" style="text-align:center;" id="updatedSubtotal">40</div>
     
        <h3 class="results des" style="text-align:center;">Taxes 9.25%:</h3>
        <div class="totals " style="text-align:center;" id="updatedTax">3.7</div>
      
        <h3 class="results des" style="text-align:center;">Total:</h3>
        <div class="totals" style="text-align:center;" id="updatedTotal">43.7</div>
    
        <button class="button btn" type='submit' href='/inventory'>Checkout</button><br>
      </div>
    </form>
    
<%- include ('templates/footer'); -%>